@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

h1 {
  font-size: 45px;
  font-family: var(--twn-font-bold);
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  font-family: var(--twn-font-bold);
  font-weight: 700;
}

button {
  font-family: var(--twn-font-bold);
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 16px;
  padding-top: 13.6px;
  padding-bottom: 13.6px;
  padding-left: 40px;
  padding-right: 40px;
  background: #14cc76;
  color: #3a3d57;
  border-bottom-style: solid;
  border-color: #37945c;
  border-bottom-width: 4px;
  text-transform: uppercase;
}
button:hover {
  background: #41e592;
}

.svg_question > svg {
  fill: blue;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}